.wrapper {
  max-width: 770px;
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

@media (max-width: 728px) {
  .wrapper {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

@media (max-height: 800px) {
  .wrapper {
    height: 100%;
  }
}
